---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Container from "../components/Container.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>
            main {
                width: 100%;
            }
            section {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <Container>
            <Header title={SITE_TITLE} />
            <main>
                <div>
                    {
                        posts.map((post) => (
                            <article>
                                <a href={`/blog/${post.slug}/`}>
                                    <img
                                        width={720}
                                        height={405}
                                        src={post.data.heroImage}
                                        alt=""
                                    />
                                    <h4 class="title">{post.data.title}</h4>
                                    <p class="date">
                                        <FormattedDate
                                            date={post.data.pubDate}
                                        />
                                    </p>
                                </a>
                            </article>
                        ))
                    }
                </div>
            </main>
            <Footer />
        </Container>
    </body>
</html>
